@charset "utf-8";


/* -- ul#menu -------------------------------------------------------------------------------- */

ul#menu {
	list-style-type: none;
	background: #ffffff;
	position: absolute;
    right: 0%;
	top: 0;
	z-index: 990;
	display: none;
	width: 100%;
	height: 100vh;
	padding-top: 25vh;
	font-family: 'Montserrat', sans-serif;
}

ul#menu li {
    opacity: 0.8;
    font-size:1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-bottom: 5vh;
}

ul#menu li a {
	text-decoration: none;
	display: block;
	width: 100%;
}

ul#menu li a:hover {
	opacity: 0.8;
}




/* -- div#sp-icon -------------------------------------------------------------------------------- */

div#sp-icon {
	width: 30px;
	height: 20px;
	position: absolute;
	right: 10px;
    top:5%;
	z-index: 999;
    opacity: 0.6;
   
}

div#sp-icon:hover {
	cursor: pointer;
	opacity: 0.3;
}

div#sp-icon span,
div#sp-icon span:before,
div#sp-icon span:after {
	display: inline-block;
	width: 25px;
	height: 3px;
	background: #000000;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.3s;
    border-radius: 15px;
}

div#sp-icon span {
	left: 50%;
	top: 30%;
	transform: translate( -50%, -50% );
}

div#sp-icon span:before {
	content: "";
	transform: translateY( -8px ) rotate( 0deg );
}

div#sp-icon span:after {
	content: "";
	transform: translateY( 8px ) rotate( 0deg );
}


div.sp-open span {
	background: transparent !important;
}

div.sp-open span:before {
	transform: rotate( 45deg ) !important;
}

div.sp-open span:after {
	transform: rotate( -45deg ) !important;
}

@media(max-width:640px){
    ul#menu li{
        margin-bottom: 5vh;
        margin-left: 0px;
		box-sizing: border-box;
    }
    div#sp-icon{
        opacity: 1;
    }

}


